# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.env.local

# Alembic migrations (временно, если пересоздаёшь)
app/migrations/versions/*

# Tests, docs, temp
tests/
docs/
*.log
*.bak

# Git and Docker
.git/
.gitignore
docker-compose.yml
Dockerfile

# IDE
.vscode/
.idea/

# OS cache
.DS_Store
Thumbs.db
